[flake8]
# Specify a list of mappings of files and the codes that should be ignored for the entirety of the file
per-file-ignores = venv/*:C,E,F,W,tests/*:C,E,F,W

# Print the total number of errors
count = True

# Count the number of occurrences of each error/warning code and print a report
statistics = True

# Set the maximum length that any line
max-line-length = 160

# Set the maximum allowed McCabe complexity value for a block of code
max-complexity = 10
